body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  margin: 20px auto;
}

input[type=text] {
  font-size: 16px;
  padding: 10px 6px;
  width: 500px;
}

.container {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}

.Collapsible {
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgba(97, 218, 251, .2);
  padding: 20px 40px;
  margin-bottom: 3px;
  width: 100%;
}

.Collapsible__trigger div {
  display: flex;
  justify-content: space-between;
}

.Collapsible__trigger div h2 {
  text-align: left;
  display: inline;
}

.Collapsible__trigger.is-closed div div.plus-sign {
  text-align: right;
  display: inline;
  vertical-align: middle;
  font-size: 30px;
  padding-top: 15px;
  transition: all .5ms;
}

.Collapsible__trigger.is-open div div.plus-sign {
  text-align: right;
  display: inline;
  vertical-align: middle;
  font-size: 30px;
  padding-top: 15px;
  transform: rotate(45deg);
}

table {
  margin: 0 auto;
}

thead {
  background-color: #61DAFB;
}

thead th:first-of-type{
  border-radius: 5px 0 0 0;
}

thead th:last-of-type {
  border-radius: 0 5px 0 0;
}

th, td {
  padding: 20px;
}

tr:hover {
  background-color: rgba(255, 144, 22, 0.2);
}

td {
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

td:first-of-type {
  text-align: left;
}

/* React Tabs */

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}